
/* ESTILOS GENERALES */
:root {
  --ppal       : #4C1F7A;
  --sec        : #219B9D;
  --accent     : #FF8000;
  --white      : #EEEEEE;

  --font      : "MPLUSCodeLatin-Vatiable", sans-serif;
  --secfont   : "FiraCode-Variable", sans-serif;
}

body {
  
  background-color: var(--ppal);
  color: var(--white);

  font-family: var(--font);
  font-weight: 300;
}

.main {
  min-height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor_ppal {
  width: 80%;
  max-width: 1000px;
  min-height: 410px;
  display: flex;
  justify-content: center;
  align-items: start;

  margin-top: 20px;
  padding: 20px 30px;
  padding-bottom: 10px;

  background-color: var(--sec);
  box-shadow: 0px 0px 120px #0009;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* HEADER */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
.header {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: var(--sec);
}

.header_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 80px;
}

.logo {
  font-size: 2.4em;
  font-weight: 700;
  color: var(--accent)
}

.btns_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.btn_salir, .btn_stats_res {
  position: relative;
  padding: 10px 2px;
  font-size: 1em;
  font-weight: 400;
}

.btn_salir::after, .btn_stats_res::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  

  background-color: var(--accent);
  transition: width .5s;
}

.btn_salir:hover::after, .btn_stats_res:hover::after{
  width: 100%;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* BIENVENIDA */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
.bienvenida {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  margin-top: 100px;
}

.titulo {
  font-size: 3.5em;
  font-weight: 500;
}

.titulo strong {
  font-weight: 700;
  color: var(--accent);
}

.botones_bienvenida {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.btn_empezar {
  padding: 10px 20px;

  font-size: 2.4em;
  background-color: var(--accent);
  border: 2px solid var(--accent);

  &:hover {
    background-color: white;
    color: var(--accent);
  }
}

.btn_stats {
  position: relative;
  font-size: 1.6em;
}

.btn_stats::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -8px;
  

  background-color: var(--accent);
  transition: width .5s;
}

.btn_stats:hover::after {
  width: 100%;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* QUESTIONARIO */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
.questionario {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.pregunta {
  font-size: 1.3em;
  font-weight: 400;
  color: var(--white);
}


.botones_respuesta {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas: 
  "btnA btnB"
  "btnC btnD";
  gap: 30px;

  margin-top: 20px;
  text-align: center;
  pointer-events: none;
}

.botones_respuesta > * {
  pointer-events: auto;
}

.btn_respuesta {
  min-width: 110px;
  padding: 10px 20px;
  display: block;

  text-align: center;
  font-size: 1.4em;
  background-color: var(--accent);
  border: 2px solid var(--accent);

  &:hover {
    background-color: white;
    color: var(--accent);
  }
}

.clicado {
  pointer-events: none;
}

.correcta {
  background-color: green;
  border: 2px solid green;
}

.fallida {
  background-color: red;
  border: 2px solid red;
}

.texto_correcta {
  margin: 15px 0px;

  font-size: 2.4em;
  font-weight: 600;
  color: var(--accent);
}

.texto_fallida {
  margin: 15px 0px;

  font-size: 2.1em;
  font-weight: 500;
  color: var(--white);
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* CONTENEDOR SECUNDARIO */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
.contenedor_sec {
  width: 70%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 25px;
}

.btn_next {
  position: relative;
  font-size: 1.3em;
}

.btn_next::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -8px;

  background-color: var(--accent);
  transition: width .5s;
}

.btn_next:hover::after {
  width: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* RESULTADO FINAL */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
.final{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  margin-top: 40px;
}

.res_title {
  font-size: 1.3em;
  font-weight: 400;
  color: var(--white);
}


.res_text {
  font-size: 1.8em;
  font-weight: 400;
  color: var(--white);
}

.puntuacion {
  font-size: 2.2em;
  color: var(--accent);
}

.res_final {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 35px;
  margin-top: 40px;
}

.res_nota {
  font-size: 2em;
  font-weight: 500;
  color: var(--white);
}

.btn_rejugar {
  padding: 10px 20px;

  font-size: 1.4em;
  background-color: var(--accent);
  border: 2px solid var(--accent);

  &:hover {
    background-color: white;
    color: var(--accent);
  }
}

.hide {
  display: none 
}
