
/* ESTILOS GENERALES */
:root {
  --ppal       : #4C1F7A;
  --sec        : #219B9D;
  --accent     : #FF8000;
  --white      : #EEEEEE;

  --font      : "MPLUSCodeLatin-Vatiable", sans-serif;
  --secfont   : "FiraCode-Variable", sans-serif;
}

body {
  
  background-color: var(--ppal);
  color: var(--white);

  font-family: var(--font);
  font-weight: 300;
}

.main {
  min-height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor_ppal {
  width: 80%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: start;

  padding: 20px 30px;

  background-color: var(--sec);
  box-shadow: 0px 0px 120px #0009;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* HEADER */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
.header {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: var(--sec);
}

.header_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;
}

.logo {
  font-size: 2.4em;
  font-weight: 700;
  color: var(--accent)
}

.btn_salir {
  padding: 5px 10px;

  font-size: .9em;
  font-weight: 300;
  background-color: black;
  border: 2px solid black;

  &:hover {
    background-color: white;
    color: black;
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* BIENVENIDA */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
.bienvenida {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  margin-top: 100px;
}

.titulo {
  font-size: 2em;
  font-weight: 500;
}

.titulo strong {
  font-weight: 700;
  color: var(--accent);
}

.botones_bienvenida {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.btn_empezar {
  padding: 10px 20px;

  font-size: 1.4em;
  background-color: var(--accent);
  border: 2px solid var(--accent);

  &:hover {
    background-color: white;
    color: var(--accent);
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* QUESTIONARIO */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
.questionario {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.pregunta {
  font-size: 1.3em;
  font-weight: 400;
  color: var(--white);
}


.botones_respuesta {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas: 
  "btnA btnB"
  "btnC btnD";
  gap: 30px;

  margin-top: 20px;
}

.btn_respuesta {
   padding: 10px 20px;

  font-size: 1.4em;
  background-color: var(--accent);
  border: 2px solid var(--accent);

  &:hover {
    background-color: white;
    color: var(--accent);
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* CONTENEDOR SECUNDARIO */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
.contenedor_sec {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 25px;
}



.hide {
  display: none
}
